DISCORD_TOKEN=your_discord_bot_token_here
ENCRYPTION_KEY=your_44_char_fernet_key_or_passphrase
COMMAND_PREFIX=!
GUILD_ID=1500945269267759268
OWNER_ID=1208300294872395876
MAX_ACCOUNTS=5
HEADLESS=true
LOG_LEVEL=INFO